@import "tailwindcss";

@theme {
  --color-neutral-blue: #02012c;
  --color-bg-search-box: #262540;
  --color-search-button: #4658d9;
  --color-text: #ffffff;
  --color-text-widgets: #d4d3d9;
  --color-bg-items: #262540;
  --color-color-stroke: #3c3b5e;
  --color-forcast-hoyrlybg: #302f4a;
}
